# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL= https://supabase.com/dashboard/project/ejvyaxqlecmegbcezokp
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_secret_Zq_q-Uc9yLkLgju-uuAQ6A_DwcsdDjS

# Optional: Add your actual Supabase credentials here
# You can get these from your Supabase project dashboard 